
.footer-container {
    margin-top: auto;
}

.footer-container__content {
    border-top: 1px solid rgba(242, 242, 242, 0.1);
}

.footer {
    height: 146px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__col {
    display: flex;
    align-items: center;
}

.footer__col--align-right {
    align-items: flex-end;
}
