
.header {
    padding-top: 21px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__col {
    display: flex;
    align-items: center;
}

.header__col--align--right {
    align-items: flex-end;
}

.menu-down {
    top: 56px;
}

.contacts {
    font-style: normal;
    text-align: right;
}

.contacts-down {
    top: 46px
}

.contacts__desc {
    color: #9A9A9A;
    font-size: 11px;
}

.menu__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 50px;
}

.menu__item:last-child{
    margin-right: 0;
}

.menu__link {
    font-size: 14px;
    text-decoration: none;
}

.menu__link:hover {
    color: #DA0100;
}

.contacts__phone {
    text-decoration: none;
    font-size: 26px;
    margin-bottom: 0;
}

.contacts__dropdown-title {
    font-size: 13px;
    text-decoration: underline;
    color: #98A4A8;
}

.top-line__header {
    padding-top: 26px;
}