
.logo {
    display: block;
    margin-right: 80px;
}

.logo-down {
    top: 44px;
}

.logo_img-service {
    width: 98px;
    height: 42px;
}

.logo-top-line {
     margin-right: 67px;
}
