
.partners {
    display: flex;
    flex-wrap: wrap;
}

.partners__item {
    margin-left: 46px;
}

.partners__item:nth-child(4n + 1) {
    margin-left: 0px;
}

.partners__link {
    text-decoration: none;
    display: flex;
    width: 250px;
    height: 120px;
    align-items: center;
    justify-content: space-between;
    filter: grayscale(100%);
}

.partners__link:hover {
    filter: grayscale(0);
}