
.socials {
    margin-right: 74px;
}

.socials__item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.socials__item:last-child {
    margin-right: 0;
}

.socials__link {
    display:block;
    text-decoration: none;
    width: 36px;
    height: 36px;
    background: center center no-repeat;
}


.socials__item--icon--telega .socials__link {
    background-image: url("../logos/t.png");
}

.socials__item--icon--telega .socials__link:hover {
    background-image: url("../logos/t1.png");
}

.socials__item--icon--vk .socials__link {
    background-image: url("../logos/vk.png");
}

.socials__item--icon--vk .socials__link:hover {
    background-image: url("../logos/vk1.png");
}

.socials__item--icon--facebook .socials__link {
    background-image: url("../logos/f2.png");
}

.socials__item--icon--facebook .socials__link:hover {
    background-image: url("../logos/facebook1.png");
}

.socials__item--icon--insta .socials__link {
    background-image: url("../logos/in.png");
}

.socials__item--icon--insta .socials__link:hover {
    background-image: url("../logos/in1.png");
}
